/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.container {
  /* max-width: 1200px; */
  min-height: 100vh;
  margin: 0 auto;
  background-color: #1B1B1B;
  color: #f5f5f5;
}

.header {
  text-align: center;
  padding: 1.7em 0;
  padding-top: 1.2em;
}

h1 {
  color: #e86969;
  font-size: 2.1em;
  letter-spacing: 0.5px;
}

.subtitle {
  color: grey;
  font-size: madium;
  letter-spacing: 0.5px;
}

.pricing-container {
  max-width: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #272727;
  padding: 1.5em;
  height: 70vh;
  gap: 1.8em;
}

.pricing-card:hover {
  cursor: pointer;
  border: 2px solid #ff8600;
  transition: all 0.1s ease;
}

.card-header {
  height: 5.5em;
}

.icon {
  display: flex;
  justify-content: center;
  i {
    font-size: 2em;
    font-style: normal;
  }
}

.popular-tag {
  /* margin-top: -2em; */
  background: #ffcc00;
  padding: .4em 1.2em;
  border-radius: 30px;
  font-size: .7rem;
  color: #272727;
  font-weight: 500;
  position: absolute;
  top: 10.7rem;
}

.price-block {
  width: 100%;
  text-align: center;
  background-color: #343333;
  padding: .8em;
  border-radius: 1rem;
}

.price {
  font-size: 1.7em;
  font-weight: 500;
  color: #e86969;
}

.period {
  font-size: small;
  color: #918f8f;
  text-transform: uppercase;
}

.features {
  list-style: none;
  width: 100%;
}

.features li {
  font-size: small;
  color: #cac1c1;
  padding: .6rem 0;
}

/* ul.features:first-child {
  padding-top: 0;
}

ul.features:last-child {
  padding-bottom: 0;
} */

.features li.disabled {
  opacity: 0.5;
}

.join-btn {
  width: 100%;
  border: none;
  padding: .7rem;
  border: 2px solid #e86969;
  border-radius: 10px;
  color: #e86969;
  background-color: transparent;
  font-weight: 600;
  margin-bottom: 1em;
}

.join-btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #e8696930, #e8696932);
}

/* Custom Class Modifiers */
.warrior {
  border: 2px solid #e86969;
  background: linear-gradient(180deg, #e869691f, #e869691f);
}

.champion {
  border: 2px solid #ffcc00;
  background: linear-gradient(180deg, #ffcc0017, #ffcc0017);
}

.champion .price {
  color: #ffcc00;
}

.champion .join-btn {
  color: #ffcc00;
  border: 2px solid #ffcc00;
}

.champion .join-btn:hover {
  transition: all 0.3s ease;
  background: linear-gradient(180deg, #ffcc0023, #ffcc0023);
}
